[build]
publish = "dist"
command = "bun run build"

[build.environment]
BUN_VERSION = "1.3.6"

[[headers]]
for = "/assets/*"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
from = "https://lumirelle.netlify.app/*"
to = "https://lumirelle.me/:splat"
status = 302
force = true

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
